* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 3px;
  font-family: 'PT Sans', sans-serif;
}

.center {
  justify-content: center;
}

.ui.cards {
  display: inline-block;
  margin: -0.875em -0.5em;
  -ms-flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}